.header {
  margin-top: 0.5rem;
  padding-left: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.header ul li:hover {
  background-color: #444444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 {
  color: white;
}

.header h3:hover {
  color: #00bc8c;
}

.change-service {
  height: 2.3rem;
}